.adContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.adTitle{
    font-size: 5.5rem;
    font-family:  "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    letter-spacing: -0.07962em;
}
.adBtn:hover{
 opacity: 0.8;   
}
.img1{
    display: block;
    width: 50%;
}
.img1mobile{
    display: none;
}
@media only screen and (max-width: 750px) {
    .adTitle{
        font-size: 50px;
    }
    .adBtn{
        font-size: 13px;
    }
    .img1{
        display: none;
    }
    .img1mobile{
        display: block;
        align-self: center;
        width: 70%;
    }
}