.aboutContainer{
    padding: 10px;
    margin-top: 10px;
    height: 100%;
}
.title{
    text-shadow: 0px 2px #ccc;
}
.slogan{
    font-size: 20px;
}
.skills{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
}
@media only screen and (max-width: 750px) {
    .aboutContainer{
        padding : 5px 2px 5px 2px;
       
    }
    .title{
        font-size: 20px;
        font-weight: bold;
    }
    .slogan{font-size: 13px;}
    .skills{display: none;}
}