.aboutContainer{
    height: 100%;
    padding: 10px;
    margin-top: 10px;
    border-top: 2px solid #ccc;
}
.title{
    text-shadow: 0px 2px #ccc;
    font-size: 50px;
}
.slogan{
    font-size: 20px;
}
@media only screen and (max-width: 750px) {
    .aboutContainer{
        padding : 5px 2px 5px 2px;
       
    }
    .title{
        font-size: 20px;
        font-weight: bold;
    }
    .slogan{font-size: 13px;}
}