.contactContent{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 20%;
    }

.errorContainer {
    font-size: 13px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 750px) {
    .contactContent{
        padding-inline: 15px;
        width: max-content;
    }
}